@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

body{
    width: 100%;
    max-width: 1444px;
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 30px;
    gap: 30px;
    background-color: rgb(32, 34, 44);
}

button{
    padding: 8px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
button:hover{
    scale: 1.05;
}
select{
    padding: 5px 10px;
    margin-right: 15px;
}

section{
    position: relative;
}

#code{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 30px;
    border: 2px solid rgb(46, 46, 46);
    resize: none;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(41, 43, 56);
    outline: none;
    color: white;
}
#code:focus{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

.optionBtn{
    position: absolute;
    top: 15px;
    right: 15px;
}

.output{
    position: relative;
}

.output h4{
    position: absolute;
    color: rgba(255, 255, 255, 0.582);
    top: 15px;
    right: 15px;
}

#output{
    width: 100%;
    height: 300px;
    background-color: rgb(27, 27, 36);
    border-radius: 15px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    overflow-y: scroll;
    scroll-behavior: smooth;
}